<div>
  <div id="placeDesc">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ data.location.name }}</mat-card-title>
        <mat-card-subtitle>{{ data.location.address }}</mat-card-subtitle>
        <mat-card-subtitle>{{ data.location.category }}</mat-card-subtitle>
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
      <mat-card-content>
        <p *ngIf="data.location.description">{{ data.location.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" (click)="onShowRoute()">
    <i class="material-icons">
      navigation
    </i>
  </button>
</div>
<div>
  <div class="rating">
    <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
    </a>
  </div>
  <mat-form-field class="commentTextarea">
    <textarea matInput placeholder="Kommentieren" [(ngModel)]="comment.content"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" class="commentButton" (click)="onComment()">
    <i class="material-icons">
      send
    </i>
  </button>
  <button *ngIf="data.username === data.location.user_id" mat-raised-button color="primary" (click)="onDeleteLocation()">Löschen
  </button>
</div>
