<div>
  <div id="placeDesc">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ data.location.name }}</mat-card-title>
        <mat-card-subtitle>{{ data.location.address }}</mat-card-subtitle>
        <mat-card-subtitle>{{ data.location.category }}</mat-card-subtitle>

        <div class="ratingMain">
          <a *ngFor="let item of starListA; let i=index ">
            <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
          </a>
        </div>
      </mat-card-header>
      <img mat-card-image *ngIf="data.location.image && data.location.image.data" [src]="data.location.image.data | base64">
      <mat-card-content>
        <mat-spinner *ngIf="imageLoading" color="primary"></mat-spinner>
        <p *ngIf="data.location.description">{{ data.location.description }}</p>
      </mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Kommentare anzeigen
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" (click)="onShowRoute()">
    <i class="material-icons">
      navigation
    </i>
  </button>
  <button *ngIf="data.username === data.location.user_id" mat-raised-button color="warn" (click)="onDeleteLocation()">
    <i class="material-icons">
      delete_forever
    </i>
  </button>
</div>

<div>

  <div class="rating">
    <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
    </a>
  </div>
  <mat-form-field class="commentTextarea">
    <textarea matInput placeholder="Kommentieren" [(ngModel)]="comment.content" width="50vh"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onComment()">
    <i class="material-icons">
      send
    </i>
  </button>
</div>
