<div>
  <div id="placeDesc">
    <h2>{{ data.location.name }}</h2>
    <div class="ratingMain">
      <a *ngFor="let item of startListAverage; let i=index ">
        <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
      </a>
    </div>
    <h4>{{ data.location.address }}</h4>
    <h4>{{ data.location.category }}</h4>
    <img width="100%" class="mat-elevation-z5 image" *ngIf="data.location.image && data.location.image.data" [src]="data.location.image.data | base64">
    <p *ngIf="data.location.description">{{ data.location.description }}</p>
  </div>
  <button mat-raised-button color="primary" (click)="onShowRoute()">
    <i class="material-icons">
      directions
    </i>
  </button>
  <button *ngIf="data.username === data.location.user_id" mat-raised-button color="warn" (click)="onDeleteLocation()">
    <i class="material-icons">
      delete_forever
    </i>
  </button>
</div>
<div>
  <br>
  <mat-accordion class="comments">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bewertungen ({{ comments.length }})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item *ngFor="let comment of comments" class="Lcomment">
          <mat-icon mat-list-icon>mode_comment</mat-icon>
          <p mat-line><b>{{comment.user_id }}</b>: {{comment.content}}
          </p>
         <p class="commentRating" mat-line>Rating: {{ comment.rating }}</p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="rating">
    <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
      <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
    </a>
  </div>
  <mat-form-field class="commentTextarea">
    <textarea id="commentArea" matInput placeholder="Bewerten" [(ngModel)]="comment.content" width="50vh"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onComment()">
    <i class="material-icons">
      send
    </i>
  </button>
</div>
