#placeDesc
{
   float:left;
    width:78%!important;
    margin-right:1em;
    margin-left:0.5em;
}
mat-form-field
{
    width:70%;
    margin-top:2em;
    margin-right:1em;
}
.commentTextArea
{
    display:inline;
    width:80%!important;
}
.mat-raised-button
{
    display:inline;   
    width:10%;
    padding: 0.25em;
    margin-top:1em;
    padding-left: 0em;
    padding-right: 0em;
    margin-right:0.5em;
}

/* Comments about location */
.comments
{
    float: left;
    width: 100%;
    font-size: 200%;
}

/*star rating*/
.rating
{
    margin-top:0.5em;
    border-top:1px solid gray;
    padding-top:1em;
    color:#673ab7;
    float: left;
    width: 100%;
    font-size: 200%;
}
.ratingMain
{
    color:#673ab7;
    /* float: left; */
    width: 100%;
    font-size: 110%;
}

::ng-deep .mat-list .mat-list-item .mat-line{
   word-wrap: break-word;
   white-space: pre-wrap;
}
::ng-deep  .mat-list .mat-list-item{
    height:initial!important;
  }
.Lcomment
{
    margin-bottom:1em;
}
.commentRating
{
    color:#673ab7;
    font-weight:bold;
}

@media screen 
and (min-device-width: 1200px) 
and (-webkit-min-device-pixel-ratio: 1) { 
  .image{
        width: 50% !important;
    }
  }
