<mat-toolbar class="mat-elevation-z5" color="primary">
    <i class="material-icons" (click)="back()" style="cursor: pointer; padding:1em; padding-left:0em; position:absolute;">
        keyboard_backspace
    </i>
    <h1>Registrieren</h1>
</mat-toolbar>
<section>
    <form (ngSubmit)="onRegister()" class="userDetails-form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Vorname" pattern="[a-zA-Z ]*" value="" required [(ngModel)]="user.firstname"
                name="firstname">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Nachname" pattern="[a-zA-Z ]*" value="" required [(ngModel)]="user.lastname"
                name="lastname">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Username" value="" required [(ngModel)]="user.username" name="username">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="E-mail" value="" pattern="^[a-z0-9_-]{8,15}$" required [(ngModel)]="user.email"
                name="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="E-mail wiederholen" value="" required [(ngModel)]="user.emailWdh" name="emailWdh">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Passwort" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                required [(ngModel)]="user.password" name="password">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Passwort wiederholen" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                required [(ngModel)]="user.passwordWdh" name="passwordWdh">
        </mat-form-field>
        <label id="privacy-statement">Indem du auf &quot;Registrieren&quot; klickst, stimmst du zu, dass deine
            personenbezogenen Daten erfasst und gespeichert werden dürfen.</label>
        <br>
        <button mat-raised-button color="primary" type="submit">
            Registrieren
        </button>
    </form>
</section>
