@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body
{
    margin:0em;
    padding:0em;
    font-family:arial;
}





/* general*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-place-dialog-panel .mat-dialog-container {
    width: 75vh;
}


.add-place-dialog-panel .mat-dialog-container .mat-form-field {
    width: 100%;
}

.fill-space {
    flex: 1 1 auto;
}

