<header>FavPlace</header>

<section>
  	<img class="image" src="assets/sports.png">
  <form (ngSubmit)="onLogin()">
      <input type="text" class="form-control" placeholder="Username" required [(ngModel)]="user.username" name="username">
      <input type="password" class="form-control"  placeholder="Passwort" required [(ngModel)]="user.password" name="password">
    &nbsp;
    <button type="submit" class="black-button">Login</button>
    <!-- @todo create another screen-->
    <a (click)="onRegister()">Sign Up</a>
   <!--<button type="button" (click)="onRegister()" class="gray-button">Register</button> -->
  </form>
</section>
  <!--
    <header>FavPlace</header>
	<section>
		<img class="image" src="images/sports.png">
		<form action="map3.html" method="GET">
			<input name="email" placeholder="Email"></input>
			<input name="password" type="Passwort" placeholder="password"></input>
			<button>Sign In</button>
			<a href="signUp.html">Sign Up</a>
		</form>
	</section>
  -->