<mat-toolbar class="mat-elevation-z5" color="primary">
    <h1 *ngIf="!searchMode">Hallo {{tokenPayload.username}}</h1>
    <h1 *ngIf="searchMode" class="searchMode">Suchmodus</h1>
    <p class="fill-space"></p>
    <button id="searchButton" *ngIf="!searchMode" mat-raised-button class="buttonSpace" (click)="openSearch()">
        <i class="material-icons">
            search
        </i>
    </button>
    <button *ngIf="searchMode" mat-raised-button class="buttonSpace" color="warn" (click)="onExitSearchMode()">
        <i class="material-icons">
            clear
        </i>
    </button>
    <button mat-raised-button color="secondary" (click)="onLogout()">
        Ausloggen
    </button>
</mat-toolbar>
<main>
    <agm-map class="mat-elevation-z5" [style.height]="origin && destination ? '66%' : '100%'" [zoom]="17" [latitude]="currentLatLng ? currentLatLng.lat : 0"
        [longitude]="currentLatLng ? currentLatLng.lng : 0" (mapClick)="onMapClick($event)" (mapReady)="onMapReady($event)">
        <agm-marker iconUrl="./assets/blue-dot.png" [latitude]="userLatLng.lat" [longitude]="userLatLng.lng"></agm-marker>
        <agm-marker iconUrl="./assets/blue-marker.png" *ngIf="selectedLatLng" [latitude]="selectedLatLng.lat"
            [longitude]="selectedLatLng.lng"></agm-marker>
        <agm-marker-cluster [maxZoom]="15" [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
            <ng-component *ngFor="let location of locations">
                <agm-marker iconUrl="./assets/basketball-marker.png" *ngIf="location.category === 'Basketball'"
                    [latitude]="location.lat" [longitude]="location.lng" (markerClick)="onMarkerClick(location)"></agm-marker>
                <agm-marker iconUrl="./assets/football-marker.png" *ngIf="location.category === 'Fußball'" [latitude]="location.lat"
                    [longitude]="location.lng" (markerClick)="onMarkerClick(location)"></agm-marker>
                <agm-marker iconUrl="./assets/tabletennis-marker.png" *ngIf="location.category === 'Tischtennis'"
                    [latitude]="location.lat" [longitude]="location.lng" (markerClick)="onMarkerClick(location)"></agm-marker>
            </ng-component>
        </agm-marker-cluster>
        <agm-direction [panel]="navigationPanel" [visible]="origin && destination" [origin]="origin" [destination]="destination">
        </agm-direction>
    </agm-map>
    <!--<button mat-fab color="primary" (click)="zoomToUserLocation()">
        <mat-icon>my_location</mat-icon>
    </button>-->
    <div id="navigationPanelContainer">
        <button mat-raised-button color="primary" (click)="openGoogleMaps()">
            Zu Google Maps
        </button>
        &nbsp;
        <button mat-raised-button color="secondary" (click)="onEndRoute()">
            Navigation beenden
        </button>
        <div #navigationPanel></div>
        <br>
    </div>
</main>
