<mat-toolbar color="primary">
    <h1 id="greeting">Hallo {{tokenPayload.username}}</h1>
    <span class="fill-space"></span>
    <button mat-raised-button color="secondary" (click)=" onLogout()">
        Ausloggen
    </button>
</mat-toolbar>
<mat-grid-list cols="1" rowHeight="fit">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <agm-map [zoom]="17" [latitude]="currentLatLng.lat" [longitude]="currentLatLng.lng" (mapClick)="onMapClick($event)">
            <agm-marker iconUrl="./assets/blue-dot.png" [latitude]="currentLatLng.lat" [longitude]="currentLatLng.lng"></agm-marker>
            <agm-marker iconUrl="./assets/blue-marker.png" *ngIf="selectedLatLng" [latitude]="selectedLatLng.lat"
                [longitude]="selectedLatLng.lng"></agm-marker>
            <agm-marker-cluster [maxZoom]="15" [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
                <agm-marker iconUrl="./assets/red-marker.png" *ngFor="let location of locations" [latitude]="location.lat"
                    [longitude]="location.lng" (markerClick)="onMarkerClick(location)"></agm-marker>
            </agm-marker-cluster>
            <agm-direction *ngIf="origin && destination" [panel]="navigationPanel" [origin]="origin" [destination]="destination">
            </agm-direction>
        </agm-map>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="0" [rowspan]="0">
        <div id="navigationPanelContainer">
            <div #navigationPanel></div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
