<mat-toolbar class="mat-elevation-z24" color="primary">
    <h1>Hallo {{tokenPayload.username}}</h1>
    <p class="fill-space"></p>
    <button mat-raised-button class="searchButton" (click)="openSearch()">
        <i class="material-icons">
            search
        </i>
    </button>
    <button mat-raised-button color="secondary" (click)="onLogout()">
        Ausloggen
    </button>
</mat-toolbar>
<main>
    <agm-map [style.height]="origin && destination ? '66%' : '100%'" [zoom]="17" [latitude]="currentLatLng.lat"
        [longitude]="currentLatLng.lng" (mapClick)="onMapClick($event)" (mapReady)="onMapReady($event)">
        <agm-marker iconUrl="./assets/blue-dot.png" [latitude]="currentLatLng.lat" [longitude]="currentLatLng.lng"></agm-marker>
        <agm-marker iconUrl="./assets/blue-marker.png" *ngIf="selectedLatLng" [latitude]="selectedLatLng.lat"
            [longitude]="selectedLatLng.lng"></agm-marker>
        <agm-marker-cluster [maxZoom]="15" [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
            <agm-marker iconUrl="./assets/red-marker.png" *ngFor="let location of locations" [latitude]="location.lat"
                [longitude]="location.lng" (markerClick)="onMarkerClick(location)"></agm-marker>
        </agm-marker-cluster>
        <agm-direction [panel]="navigationPanel" [visible]="origin && destination" [origin]="origin" [destination]="destination">
        </agm-direction>
    </agm-map>
    <div id="navigationPanelContainer">
        <a target="_blank" ng-href="{{url}" (click)="openGoogleMaps()">
            <button mat-raised-button color="primary">
                Zu Google Maps
            </button>
        </a>
        &nbsp;
        <button mat-raised-button color="secondary" (click)="onEndRoute()">
            Navigation beenden
        </button>
        <div #navigationPanel></div>
        <br>
    </div>
</main>
