<h2 mat-dialog-title>Ort suchen</h2>

<mat-dialog-content>
	<mat-form-field>
		<input matInput placeholder="Suche" [(ngModel)]="search.address">
	</mat-form-field>
	<br /><br />
	<mat-checkbox color="primary" [(ngModel)]="fussballChecked">
		Fußball
	</mat-checkbox>
	<br /><br />
	<mat-checkbox color="primary" [(ngModel)]="tischtennisChecked">
		Tischtennis
	</mat-checkbox>
	<br /><br />
	<mat-checkbox color="primary" [(ngModel)]="basketballChecked">
		Basketball
	</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions>
	<button class="mat-raised-button mat-primary" (click)="onSearch()">Suchen</button>
	<button class="mat-raised-button" mat-button (click)="onClose()">Schließen</button>
</mat-dialog-actions>
